{% extends "index.html" %}
{% block title %}Add Line{% endblock %}
{% block content %}
<!-- content starts here -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
		<div class="alert alert-primary alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}
	<!-- content starts -->
	<h2>Add Single Line</h2>
	<form role="form" method="post" name="addline" id="addline" action="{{ url_for('panel_add_single_line')}}" id="addsinleline">
		<div class="form-group">
			<label for="inputLineName">Name</label>
			<input type="text" class="form-control" id="inputLineName" name="inputLineName" placeholder="Enter name of line">
		</div>
		<div class="form-group">
			<label for="inputLineDescription">Description</label>
			<input type="text" class="form-control" id="inputLineDescription" name="inputLineDescription" placeholder="Enter description for line">
		</div>
		<div class="form-group">
			<label for="inputLineColor">Color</label>
			<input type="color"  id="inputLineColor" name="inputLineColor"" aria-describedby="colorHelp">
			<small id="colorHelp" class="form-text text-muted">Selected color will be shown on clients' screen</small>
		</div>
		<div class="row form-group">
			<p id="stationSelectHelp" class="form-text text-muted">Select stations from left side and move them to the right list. After that you have to order list on right.</p>
			<div class="col-md-5">
				<input type="text" id="inputSearchStation" onkeyup="searchoptions()" placeholder="Search stations" class="form-control">
				<select class="form-control" id="MasterSelectBox" multiple>
					{% for station in stations %}
						<option value="{{station['id(a)']}}">{{station['a.name']}}</option><!-- for loop -->
					{% endfor %}
				</select>
			</div>
			<div style="text-align: center;" class="col-sm-2">
				<a class="btn btn-primary" id="btnAdd">></a>
				<a class="btn btn-primary" id="btnRemove"><</a>
			</div>
			<div class="col-md-5">
				<a class="btn btn-primary" id="btnMoveUp" onclick="moveUp()">Up</a>
				<a class="btn btn-primary" id="btnMoveDown" onclick="moveDown()">Down</a>
				<select class="form-control" id="PairedSelectBox" name="inputLineStations" multiple>
				</select>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success" onclick="selectAll()">Add Line</button>
		</div>
	</form>

	<hr>

	<h2>Add Multiple Lines</h2>
	<form enctype="multipart/form-data" role="form" method="post" name="addmultipleline" action="{{url_for('panel_add_multiple_line')}}" id="addmultipleline">
		<div class="form-group">
			<label for="inputLinesFile">Stations TXT file, <a href="{{ url_for('get_sample_file', samplename='lines') }}" target="_blank">See file format</a></label>
			<input type="file" class="form-control-file" id="inputLinesFile" accept=".txt" name="file">
		</div>
		<button type="submit" class="btn btn-primary">Add Lines</button>
	</form>

	<script type="text/javascript">
    function selectAll()
    {
        selectBox = document.getElementById("PairedSelectBox");

        for (var i = 0; i < selectBox.options.length; i++)
        {
             selectBox.options[i].selected = true;
        }
    }
	</script>

	<!--<script src="{{ url_for('static', filename='js/jquery.min.js')	}}"></script>-->
	<script src="{{ url_for('static', filename='js/pair-select.min.js')	}}"></script>
	<script src="{{ url_for('static', filename='js/linelist.js')	}}"></script>
	<script src="{{ url_for('static', filename='js/search.js')	}}"></script>
	<script src="{{ url_for('static', filename='js/reorder.js')	}}"></script>
	<!-- content ends -->
{% endblock %}
